app:
  scheduler-config:
    enable: true
    interval: 10s
    force-check-delay: 10s
  stack-overflow-url:
    default-url: https://api.stackexchange.com/2.3/
  git-hub-url:
    default-url: https://api.github.com/
  telegram-bot-url:
    default-url: http://localhost:8090/bot/api/v1/
  git-hub-host-names:
    - github.com
    - github.dev
  stack-overflow-host-names:
    - stackoverflow.com
  database-access-type: jdbc

spring:
  application:
    name: scrapper
  data:
    redis:
      host: localhost
      port: 6379
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/scrapper
    password: postgres
    username: postgres
  docker:
    compose:
      enabled: true
      file: compose.yml
  jooq:
    sql-dialect: postgres

hibernate:
  show_sql: true

server:
  port: 8080

logging:
  config: classpath:log4j2-plain.xml

springdoc:
  show-actuator: true
  swagger-ui:
    path: /scrapper/api/v1/swagger-ui
